body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
}

a {
    text-decoration: none;
}

.background {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.background-upperShape {
    width: 50vw;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.background-middleShape {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 125vw;
}

.background-bottomShape {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 235vw;
}

header {
    height: 90vw;
}

.header-left {
    width: 50vw;
    display: inline-block;
}

header .header-left h3 {
    font-weight: 500;
    font-size: 2vw;
    margin: 3vw;
}

.header-left h1 {
    font-size: 4vw;
    font-weight: 900;
    margin: 3vw;
    position: relative;
    top: 7.5vw;
}

.header-left p {
    position: relative;
    top: 7.5vw;
    margin: 3vw;
    font-size: 1.6vw;
    color: gray;
    line-height: 3vw;
}

.header-left form {
    position: relative;
    top: 7.5vw;
    margin: 5vw 3vw;
}

input[type="email"] {
    width: 25vw;
    height: 6vw;
    padding: 2.5vw;
    border: none;
    box-shadow: 0 0 0 1px lightgray;
    border-radius: 8.5vw;
    font-size: 1.6vw;
    font-family: 'Muli', sans-serif;
}

input[type="submit"] {
    width: 15vw;
    height: 6vw;
    border-radius: 6vw;
    border: none;
    background-color: rgb(251, 82, 83);
    margin-left: 3vw;
    color: white;
    font-size: 1.6vw;
    box-shadow: 20px 20px 50px rgba(251, 82, 83, 50%);
    font-family: 'Muli', sans-serif;
}

.header-left .logos {
    position: relative;
    top: 11.5vw;
    display: grid;
    width: 105%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    justify-content: space-between;
    align-items: center;
    margin: 3vw;
}

.header-left .logo {
    width: 12vw;
    height: auto;
    transition: transform .5s;
}

.header-left .logo:hover {
    transform: scale(1.2);
}

.header-right {
    display: inline-block;
    position: relative;
    float: right;
    width: 48vw;
}

.header-card1 {
    width: 20vw;
    position: absolute;
    top: 12.5vw;
    left: 10vw;
    z-index: 4;
    box-shadow: 1vw 1vw 7vw rgba(0, 0, 0, 40%);
    border-radius: .5vw;
}

.header-card2 {
    width: 40vw;
    position: absolute;
    top: 25.5vw;
    left: -3vw;
    z-index: 3;
    transform: rotate(5deg);
    box-shadow: 1vw 1vw 7vw rgba(0, 0, 0, 40%);
    border-radius: .5vw;
}

.header-card3 {
    width: 25vw;
    position: absolute;
    top: 38.5vw;
    left: 3vw;
    z-index: 1;
    box-shadow: 1vw 1vw 7vw rgba(0, 0, 0, 40%);
    border-radius: .5vw;
    transform: rotate(-10deg)
}

.header-card4 {
    width: 20vw;
    position: absolute;
    top: 35vw;
    left: 20vw;
    z-index: 2;
    box-shadow: 1vw 1vw 7vw rgba(0, 0, 0, 40%);
    border-radius: .5vw;
}

.header-right-tryfree {
    position: absolute;
    right: 7vw;
    top: 3.5vw;
    width: 8vw;
    height: 1.5vw;
    font-size: 1.5vw;
    color: white;
    background-color: rgba(255, 255, 255, 0%);
    border-radius: 2.5vw;
    text-align: center;
    padding: 1vw 0;
    box-shadow: 0 0 0 1px white;
    transition: background-color 0.3s;
}

.header-right-tryfree:hover {
    background-color: rgba(255, 255, 255, 20%);
}

.main-benefits {
    height: 45vw;
}

.main-benefits h2 {
    width: 50vw;
    text-align: center;
    margin-left: 25vw;
    font-size: 3.5vw;
}

.main-benefits-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.main-benefits-flex-pad {
    width: 25vw;
    margin: 0 2vw;
    position: relative;
    transition: padding-top .5s;
}

.main-benefits-flex-pad:hover {
    padding-top: 3vw;
}

.main-benefits-flex-pad img {
    width: 10vw;
    margin: 0 7.5vw;
}

.main-benefits-flex-pad p {
    text-align: center;
    color: gray;
    font-size: 1.4vw;
    line-height: 2.5vw;
}

.main-benefits-flex-pad h4 {
    text-align: center;
    font-size: 1.8vw;
}

.main-why {
    height: 50vw;
}

.main-why-left {
    display: inline-block;
    width: 50vw;
    float: left;
}

.main-section2-card1 {
    width: 30vw;
    box-shadow: 1vw 1vw 7vw rgba(0, 0, 0, 30%);
    border-radius: .5vw;
    position: relative;
    left: 20%;
}

.main-section2-card2 {
    width: 20vw;
    z-index: 2;
    box-shadow: 1vw 1vw 7vw rgba(0, 0, 0, 30%);
    border-radius: .5vw;
    position: relative;
    left: 50%;
    bottom: 6vw;
}

.main-why-right {
    display: inline-block;
    width: 40vw;
}

.main-why-right h2 {
    padding-top: 2vw;
    font-size: 3.5vw;
}

.main-why-right p {
    color: gray;
    line-height: 2.5vw;
    font-size: 1.4vw;
}

.main-why-right a {
    color: black;
    transition: padding-right .5s;
}

.main-why-right a:hover {
    padding-right: 1vw;
}

.main-why-right img {
    height: 1.15vw;
    padding-left: .5vw;
}

.main-teamworkflow {
    height: 45vw;
}

.main-teamworkflow-left {
    width: 50vw;
    display: inline-block;
}

.main-teamworkflow-left h2 {
    margin-left: 14vw;
    font-size: 3.5vw;
}

.main-teamworkflow-left p {
    color: gray;
    margin-left: 14vw;
    font-size: 1.4vw;
    line-height: 2.5vw;
}

.main-teamworkflow-left a {
    color: black;
    margin-left: 14vw;
    transition: padding-right .5s;
}

.main-teamworkflow-left a:hover {
    padding-right: 1vw;
}

.main-teamworkflow-left img {
    height: 1.15vw;
    padding-left: .5vw;
}

.main-teamworkflow-right {
    width: 48vw;
    display: inline-block;
    float: right;
    position: relative;
}
