body {
	font-family: "Muli";
}

main {
	width: 100vw;
	padding: 0;
	margin: 0;
	position: relative;
}

main h1 {
	font-size: 4vw;
	text-align: center;
}

main h3 {
	font-size: 2.5vw;
	text-align: center;
}

main fieldset {
	border-radius: 10px;
	width: 60vw;
	background-color: rgba(255, 255, 255, 40%);
	margin: 0 auto 10vw;
}

main legend {
	font-size: 1.5vw;
}

main form {
	width: 80%;
	margin: 0 10%;
}


input[type="text"], input[type="email"] {
	width: 30vw;
	height: 3vw;
	margin: 1.5vw;
	font-family: "Muli";
	padding-left: 1vw;
}

select {
	width: 30vw;
	height: 3.5vw;
	margin: 1.5vw;
	font-family: "Muli";
	padding-left: 1vw;
}

textarea {
	width: 30vw;
	height: 8vw;
	padding: 1vw;
	resize: none;
	margin: 1.5vw;
	font-family: "Muli";
}

input[type="checkbox"] {
	margin-left: 1.5vw;
}

input[type="submit"] {
	width: 40%;
	height: 3vw;
	margin-left: 60%;
	margin-top: 4vw;
	margin-bottom: 2vw;
	border-radius: 3px;
	border: none;
	background-color: rgb(58, 65, 81);
	color: white;
	font-family: "Muli";
}

.back {
	position: absolute;
	top: 3vw;
	left: 3vw;
	width: 10vw;
	height: 5vw;
	background-color: rgb(251, 82, 83);
	color: white;
	border-radius: 2.5vw;
	transition: transform .5s;
}

.back:hover {
	transform: scale(1.1);
}

.back h3 {
	text-align: center;
	line-height: 2.2vw;
}

.background-shape1 {
	width: 40vw;
	height: 40vw;
	border-radius: 20vw;
	background-color: rgb(58, 65, 81);
	position: absolute;
	top: 15vw;
	right: 5vw;
}

.background-shape2 {
	width: 30vw;
	height: 30vw;
	border-radius: 15vw;
	background-color: rgb(251, 82, 83);
	position: absolute;
	top: 45vw;
	left: 5vw;
}

.background-shape3 {
	width: 20vw;
	height: 20vw;
	border-radius: 10vw;
	background-color: rgb(253, 182, 90);
	position: absolute;
	top: 10vw;
	left: 15vw;
}

@media (max-width: 820px) {

}

@media (max-width: 400px) {
	main form {
		width: 80vw;
		margin: 0;
	}
	
	main h1 {
		font-size: 5vw;
	}

	main h3 {
		font-size: 3.5vw;
	}

	main legend {
		font-size: 3vw;
	}

	input[type="text"], input[type="email"] {
		width: 40vw;
		font-size: 3vw;
	}

	select {
		width: 67vw;
		font-size: 3vw;
		height: 5vw;
	}

	textarea {
		width: 64.4vw;
		height: 20vw;
	}

	label {
		font-size: 3vw;
	}

	input[type="checkbox"] {
		font-size: 1vw;
	}

	input[type="submit"] {
		height: 6vw;
	}

	.background-shape1 {
		top: 25vw;
	}

	.background-shape2 {
		top: 80vw;
		left: 25vw;
	}

	.background-shape3 {
		top: 30vw;
	}
}